.Topnav a {
     float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    
}
.topnav a {
    overflow: hidden;
    background-color: pink;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.Search_Bar_and_Under{
    align-content: right;
    align-items: right;
    
}